---
layout: default.njk
title: 'Towards Distributed Intelligent Tutoring Systems Based on User-owned Progress and Performance Data'
---
<h2>Abstract</h2>
<p class="abstract">
The use of recommendation engines to personalise students' learning experiences can be beneficial by providing them with exercises that are tailored to their knowledge. However, the use of these systems often comes at a cost. Most learning or tutoring systems require the data to be stored locally within a proprietary database, limiting the freedom of the learner as they move across different systems during their learning journey. In addition, these systems might potentially cause additional stress, as the learner might feel observed without knowing who has access to their learning progress and performance data. We propose a solution to this problem by decentralising learning progress and performance data in user-owned Solid Pods. We outline the proposed solution by describing how it might be applied to an existing environment for programming education that already includes research on how to align difficulty levels of exercises across different systems.
</p>

<div class="btn-header">
  <a href="https://github.com/yoshimalaise/sosy2024/issues/new/choose" target="_blank" class="btn btn-primary">
    <i class="fa-solid fa-comment"></i> Feedback
  </a>
</div>

<h2>Paper</h2>
<div class="alert alert-warning" role="alert">
    This is a draft of the paper. The camera-ready version will be available after the symposium when the feedback
    is applied.
</div>
<div class="btn-header">
  <a 
    href="./paper.html" 
    class="btn btn-outline-primary btn-icon">
      <i class="fa fa-regular fa-file-pdf"></i>Paper Draft (HTML)</a>
  {# <a 
    href="./poster.pdf" 
    class="btn btn-outline-primary btn-icon">
      <i class="fa fa-regular fa-file-pdf"></i>Poster (PDF)</a> #}
</div>

<h2>Related Projects</h2>
TODO Explorotron

<h2>Contact</h2>
<div class="row row-cols-1 row-cols-md-3 mb-3">
  <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Yoshi Malaise</h4>
            <img class="profile" src="https://wise.vub.ac.be/sites/default/files/members/2021-09/yoshi.png" alt="Yoshi Malaise">
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-3">
                <span>E-mail</span>
              </div>
              <div class="col-md-9">
                <a href="mailto:ymalaise@vub.be">ymalaise@vub.be</a>
              </div>
            </div>
            <div class="row g-3">
              <div class="col-md-3">
                <span>Website</span>
              </div>
              <div class="col-md-9">
                <a href="https://wise.vub.ac.be/yoshi-malaise">https://wise.vub.ac.be/yoshi-malaise</a>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Maxim Van de Wynckel</h4>
            <img class="profile" src="https://wise.vub.ac.be/sites/default/files/styles/member_thumbnail/public/members/2021-05/maximVanDeWynckel.png" alt="Maxim Van de Wynckel">
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-3">
                <span>E-mail</span>
              </div>
              <div class="col-md-9">
                <a href="mailto:mvdewync@vub.be">mvdewync@vub.be</a>
              </div>
            </div>
            <div class="row g-3">
              <div class="col-md-3">
                <span>Website</span>
              </div>
              <div class="col-md-9">
                <a href="https://maximvdw.be">https://maximvdw.be</a>
              </div>
            </div>
            <div class="row g-3">
              <div class="col-md-3">
                <span>WebID</span>
              </div>
              <div class="col-md-9">
                <a href="https://maximvdw.be/profile/card#me">https://maximvdw.be/profile/card#me</a>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Beat Signer</h4>
          <img class="profile" src="https://wise.vub.ac.be/sites/default/files/styles/member_thumbnail/public/members/2017-09/beatSigner_1.png" alt="Beat Signer">
        </div>
        <div class="card-body">
          <div class="row g-3">
            <div class="col-md-3">
              <span>E-mail</span>
            </div>
            <div class="col-md-9">
              <a href="mailto:bsigner@vub.be">bsigner@vub.be</a>
            </div>
          </div>
          <div class="row g-3">
            <div class="col-md-3">
              <span>Website</span>
            </div>
            <div class="col-md-9">
              <a href="https://beatsigner.com">https://beatsigner.com</a>
            </div>
          </div>
          <div class="row g-3">
            <div class="col-md-3">
              <span>WebID</span>
            </div>
            <div class="col-md-9">
              <a href="https://beatsigner.com/foaf.rdf#me">https://beatsigner.com/foaf.rdf#me</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

